

.stApp{
    background: linear-gradient(
        135deg,
        #e69e96 0%,
        hsl(13, 63%, 74%) 50%,
        #e9a885 100%
    );
    min-height:100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card{
    background-color:#5d2642;
    padding:25px;
    border-radius:16px;
    box-shadow:0 8px 20px rgba(0,0,0,0.08);
    margin-bottom:25px;
}

h1,h2,h3{
    color:#0f172a;
}

/* Metric box */
div[data-testid="metric-container"]{
    background-color:#6e124c;
    border-radius:14px;
    box-shadow:0 4px 10px rgba(0,0,0,0.05);
}

/* Prediction box */
.prediction-box{
    background: linear-gradient(
        135deg,
        #e2477d,
        #bbf7d0
    );
    padding:22px;
    border-radius:14px;
    text-align:center;
    font-size:22px;
    font-weight:bold;
    color:#14532d;
    margin-top:15px;
}


